/* Better to make it for each component but this is just a small project */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  animation: loadIn 0.8s ease-in-out;
}

@keyframes loadIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #007a33;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #007a33;
  background-color: whitesmoke;
  border-radius: 16px;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.button {
  border-style: none;
  color: white;
  background-color: #007a33;
  border-radius: 16px;
}

.button:hover {
  background-color: #00c050;
  cursor: pointer;
}

.button-danger {
  border-style: none;
  color: white;
  background-color: #d10303;
  border-radius: 16px;
  padding: 8px;
}

.button-danger:hover {
  background-color: #f03838;
  cursor: pointer;
}
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border: 4px solid #fafafa;
  border-radius: 16px;
}
.blog-preview:hover {
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.3);
}
.blog-preview h2 {
  font-size: 20px;
  color: #007a33;
  margin-bottom: 8px;
}

.article-body {
  margin-top: 14px;
  font-size: 18px;
  border-radius: 18px;
}

.blog-details h2 {
  color: #007a33;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  border-radius: 16px;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #007a33;
  margin-bottom: 30px;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  border-radius: 16px;
}

.create button {
  background: #007a33;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 16px;
  cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  border: 1px solid #007a33;
  box-shadow: 0 0 10px #719ece;
}

.NotFound {
  text-align: center;
}

.NotFound h1 {
  font-size: 40px;
}
