/* Better to make it for each component but this is just a small project */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  animation: loadIn 0.8s ease-in-out;
}

@keyframes loadIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #007a33;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #007a33;
  background-color: whitesmoke;
  border-radius: 16px;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.button {
  border-style: none;
  color: white;
  background-color: #007a33;
  border-radius: 16px;
}

.button:hover {
  background-color: #00c050;
  cursor: pointer;
}

.button-danger {
  border-style: none;
  color: white;
  background-color: #d10303;
  border-radius: 16px;
}

.button-danger:hover {
  background-color: #f03838;
  cursor: pointer;
}
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 4px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #007a33;
  margin-bottom: 8px;
}
